body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  flex: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(128, 186, 186);
}

.header .container {
  display: flex;
  flex-direction: column;
}

.header input {
  width: 200px;
  height: 40px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 15px;
  border: 1px solid rgba(151, 146, 146, 0.583);
}

.header button {
  height: 87px;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

.todoList {
  flex: 70%;
  width: 100%;
}
